#cookiebanner,
#cookiebannerDetails {
	@media screen and (min-width: $cb-desktop-breakpoint) {
		font-size: 16px;
	}
	font-family: $cb-font-family;
	font-size: 16px;
	line-height: 1.34;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.24;
	}

	a {
		color: $cb-color-primary;
	}
}
