@mixin outline() {
	outline-offset: em-calc(3);
	&:focus {
		outline: 1px dashed $cb-color-primary;
	}
}

@mixin svg-icon($data) {
	background-image: url('#{$data}');
	background-position: center;
	background-repeat: no-repeat;
}
