.hcb-button {
	@media screen and (min-width: $cb-desktop-breakpoint) {
		padding: em-calc(11 18);
	}
	flex-shrink: 0;
	padding: em-calc(11 14);
	border: 0;
	border-radius: em-calc(420);
	background-color: $cb-color-primary;
	color: $cb-color-white;
	font-size: em-calc(18);
	cursor: pointer;
	appearance: none;

	&:hover,
	&:focus {
		opacity: 0.8;
	}

	&--secondary {
		box-sizing: border-box;
		background-color: transparent;
		box-shadow: inset 0 0 0 em-calc(2) $cb-color-black;
		color: $cb-color-black;
	}
}

.hcb-link {
	all: unset;
	color: $cb-color-primary;
	font-size: em-calc(18);
	text-decoration: underline;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.hcb-accordion-button {
	@include svg-icon(
		"data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 7V12H7V7H12V5H7V0H5V5H0V7H5Z' fill='black'/%3E%3C/svg%3E%0A"
	);
	width: em-calc(24);
	height: em-calc(24);
	border: em-calc(2) solid $cb-color-black;
	border-radius: em-calc(420);
	cursor: pointer;

	&--active {
		transform: rotate(45deg);
	}
}

.hcb-toggle-group {
	label {
		display: flex;

		align-items: center;
		column-gap: em-calc(8);
		cursor: pointer;

		&:before {
			display: inline-block;
			width: em-calc(24);
			height: em-calc(24);
			box-shadow: inset 0 0 0 em-calc(1) $cb-color-border;
			content: '';
		}
	}

	input {
		display: none;

		&:checked + label:before {
			@include svg-icon(
				"data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 1.25L4.5 8L0.75 4.25' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A"
			);
			background-color: $cb-color-black;
			box-shadow: none;
		}

		&:disabled + label {
			cursor: not-allowed;
			opacity: 0.25;
		}
	}
}
