$cb-color-primary: #5b5fff;
$cb-color-secondary: #f6f6f6;
$cb-color-black: #000000;
$cb-color-white: #ffffff;
$cb-color-gray-light: #e5e5e5;
$cb-color-gray-lightest: #f5f5f5;
$cb-color-gray: #666666;
$cb-color-border: #e0e0e0;
$cb-color-success: #4daf50;

$cb-desktop-breakpoint: em-calc(768);
$cb-radius: em-calc(4);
$cb-padding: em-calc(36);
$cb-container-width: em-calc(1280);
$cb-gutter-width: em-calc(28);

$cb-font-family: 'Messina Sans', Arial, sans-serif;
